
__pycache__/drawingWindow\.cpython-36\.pyc

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/SEP-lab-08-1-2-\.iml

\.idea/vcs\.xml

\.idea/workspace\.xml
.vs/ProjectSettings.json
.vs/SEP-lab-08-1-2-/v15/.suo
.vs/slnx.sqlite
Lab 8.2/__pycache__/DrawCanvas.cpython-36.pyc
Lab 8.3/__pycache__/Disk.cpython-36.pyc
Lab 8.3/__pycache__/Pole.cpython-36.pyc
